.highlight .c,
.highlight .cm,
.highlight .c1,
.highlight .cs {
  color: #008000;
}

.highlight .n,
.highlight .na,
.highlight .nc,
.highlight .no,
.highlight .ni,
.highlight .ne,
.highlight .nf,
.highlight .nn,
.highlight .nt,
.highlight .nv,
.highlight .nf,
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: #001080;
  font-weight: normal;
}

.highlight .nb,
.highlight .kt,
.highlight .ow {
  color: #0000ff;
  font-weight: normal;
}

.highlight .cpf {
  color: #A31515;
}

.highlight .p,
.highlight .o {
  color: #795E26;
  font-weight: normal;
}

.highlight .cp,
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kp,
.highlight .kr {
  color: #AF00DB;
  font-weight: normal;
}

.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo {
  color: #098658;
}

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1,
.highlight .ss {
  color: #a31515;
}

code {
  background-color: #fff;
}